@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }

  .font-bowlby {
    font-family: "Bowlby One SC", cursive;
  }

  .text-pink {
    color: #d63447;
  }

  .bg-pink {
    background-color: #d63447;
  }

  .bg-cream {
    background-color: #f6eedf;
  }

  .border-pink {
    border-color: #d63447;
  }

  .wrapper {
    display: flex;
    overflow-x: auto;
  }

  .wrapper::-webkit-scrollbar {
    width: 0;
  }

  .square {
    min-width: 120px;
    height: 150px;
    line-height: 110px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 10px;
  }